* {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
}


.navbar{
height: 100px;
position: fixed;
top: 0;
background-color: black;
display: flex;
justify-content: space-between;
width: 100%;
align-items: center;
z-index: 9999;
}

.name p{
    font-size: 40px;
    margin-left: 30px;
    font-weight: bold;
    color: white;
}

.js, .html, .css{
    width: 50px;
    font-size: 40px;
}

.js{
    color: yellow;
    margin-right: 15px;
}

.html{
    color: #F25220;
    margin-right: 5px ;
}

.css{
    color: #31A1D0;
}

.container{
    width: 100%;
    height: 1000px;
}

.containerbox{
    margin-top: 100px;
    width: 100%;
}

.mainbox{
    padding: 0px;
    text-align: center;
    font-weight: 400px;
    margin-top: 120px;
    height: 140px;
    
}

.visibleBox{
    width: 100%;
    height: 150px;
}

.visibleBox span{
    font-size: 80px;
}

.visibleBox p{
    font-size: 60px;
}

.mainbox .unvisibleBox p{
    font-size: 20px;
    margin-top: -40px;
    opacity: 0;
    transition: all 1s;
}

.mainbox:hover .unvisibleBox p{
    opacity: 1;
}

.introduceBox{
    padding: 50px 10px;
    background-color: #eee;
    height: 1300px;
}

.introText{
    width: 60%;
    color: black;
    float: left;
    font-weight: lighter;
}

.introImg{
   width: 400px;
   height: 534px;
   float: right;
   position: sticky;
   top: 180px;
   overflow: hidden;
}
.introImg img{
    width: 100%;
}

li {
    text-align: left;
    font-size: 70px;
}

ul p{
    text-align: left;
}

ul{
    list-style-type: none;
    border-left: 1px solid black;
    padding-left: 20px;
}

ul p{
    font-size: 20px;
}


.hobbyBox{
    padding: 50px 20px;
    background-color: gray;

}

.hobby{
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    margin-top: 30px;
}

.hobbyLogo{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-around;
}

.logo{
    background-color: white;
    padding: 30px;
    font-size: 80px;
    border-radius: 50%;
}

.hobbyText{
    width: 190px;
    text-align: center;
    background-color: white;
    font-size: 50px;
    font-weight: lighter;
    border-radius: 40px;
    padding: 10px;
    opacity: 0;
    transition: all 1.5s;
}






.hobbyBox:hover .hobbyText{
    opacity: 1;
}


.pictureBox{
    padding: 40px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.picture{
    width: 25%;
    margin-bottom: -6px;
}

.picture img{
    width: 100%;
}

.pictureContainer{
    text-align: center;
    margin-top: 70px;
    font-size: large;
}

.whiteBox{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index : 2;
    border : 0px solid white;
    transition: all 1s;
}

.whiteBox:hover{
    border: 30px solid white;
}

.item1{
    position: relative;
}

.introText a{
    text-decoration: none;
    font-weight: normal;
    color: orange;
}

.iconFlex{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    position: relative;
}

.contactBox{
    padding: 40px 20px;
}



.contactText{
    text-align: center;
    font-size: 100px;
}

.icon{
    font-size: 90px;
    padding: 40px;
}

.icon a{
    color: black;
}

.blackBorder{
    right: 10%;
    position: absolute;
    border: 10px solid black;
    width: 80%;
    height: 300px;
    background-color: #eee;

    /* transition: all 0.8s; */
}

/* .blackBorder:hover{
    opacity: 1;
} */

@media screen and (max-width:1200px) {
    .introImg{
        width: 350px;
        height: 454px;
        float: right;
        position: sticky;
        top: 180px;
        overflow: hidden;
    }
    .introduceBox{
        padding: 50px 10px;
        height: 1400px;
    }
}



@media screen and (max-width:1000px){
    .introImg{
        width: 300px;
        height: 454px;
        float: right;
        position: sticky;
        top: 180px;
        overflow: hidden;
    }
    .introduceBox{
        padding: 50px 10px;
        height: 1700px;
    }

}

@media screen and (max-width:808px) {
    .introImg{
        width: 250px;
        height: 654px;
        float: right;
        position: sticky;
        top: 180px;
        overflow: hidden;
    }
    .introduceBox{
        padding: 50px 10px;
        height: 1700px;
    }
}